 <section>
  <div class="subHeader">
    <h3 class="title">Terms and Conditions</h3>
    <mat-icon class="penIcon">create</mat-icon>
  </div>
  <div class="content">
    <textarea class="text" readonly>
      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System,being larger than only Mercury.. Mars is the fourth planet from the Sun and the
      second-smallest planet in the Solar System, being larger than only Mercury.Mars is the fourth planet from the Sun and the secondsmallest planet
      in the Solar System, being larger than only Mercury.

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury..

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury..

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second


      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-
      smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in
      the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System,
      being larger than only Mercury.. Mars is the fourth planet from the Sun. Mars is the fourth planet from the Sun and the second-smallest planet
      in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in
      the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System,
      being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than
      only Mercury.Mars is the fourth planet from the Sun and the second-s

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-
      smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in
      the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System,
      being larger than only Mercury.. Mars is the fourth planet from the Sun. Mars is the fourth planet from the Sun and the second-smallest planet
      in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in
      the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System,
      being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than
      only Mercury.Mars is the fourth planet from the Sun and the second-s


    </textarea>
  </div>

</section>
