<section>
  <h1 class="heading">My Profile</h1>
  <div class="userData">
    <span class="material-icons">account_circle</span>
    <div class="data">
      <p class="title">Name: <span class="titleData">Robert</span></p>
      <p class="title">Email ID: <span class="titleData">robert@gmail.com</span><i class="fa-regular fa-pen-circle"></i>
      </p>
      <p class="title">Title:<span class="titleData">Admin</span> </p>
    </div>
  </div>
  <form [formGroup]="profileForm">
  <div class="password">
      <h3 class="subHeading">Change Password</h3>
      <div class="setPassword">

        <label> <span class="alert">*</span>Current Password</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="current_password" placeholder="Enter password" [type]="hide ? 'password':'text'"
            required>
          <i class="material-icons" matSuffix (click)="hide = !hide">
            {{hide?'visibility_off':'visibility'}}
          </i>
        </mat-form-field>
      </div>
      <div class="newPassword">
        <mat-form-field appearance="outline">
          <input matInput formControlName="password" placeholder="New Password" [type]="hide1 ? 'password':'text'"
            required>
          <i class="material-icons" matSuffix (click)="hide1 = !hide1">
            {{hide1?'visibility_off':'visibility'}}
          </i>
          <mat-hint id="warn">
            <mat-icon>error</mat-icon>&nbsp; <span>Please have atleast 8 characters with atleast 1 uppercase,1 lower
              case and 1
              numeric character</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput formControlName="cnfPassword" placeholder="Confirm Password"
            [type]="hide2 ? 'password':'text'" required>
          <i class="material-icons" matSuffix (click)="hide2 = !hide2">
            {{hide2?'visibility_off':'visibility'}}
          </i>
          <mat-error *ngFor="let error of errorMessage?.password" >
            <mat-error *ngIf="profileForm?.get('password')?.hasError(error?.type)" class="alertMessage">
              <mat-icon class="warnIcon">warning</mat-icon>{{error.message}}
            </mat-error>
          </mat-error>
          <mat-error *ngIf="profileForm?.controls?.cnfPassword?.errors?.confirmedValidator"><mat-icon class="warnIcon">warning</mat-icon>New Password & confirm password does not match.</mat-error>

        </mat-form-field>
      </div>
    </div>
    <div class="btnGrp">
      <button mat-raised-button id="cancelBtn">Cancel</button>
      <button mat-raised-button id="saveBtn">Save</button>
    </div>
  </form>

</section>
