@use "../../../commonFiles/scssfiles/accountModule.scss";
footer{
  a {
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:visited {
      color: #759bf3;
    }
  }
}
