<section>
  <div *ngIf="!linkSent">
    <header>
      <h1>Forgot your Password?</h1>
      <h3>We will help you to reset it and get back on track</h3>
    </header>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="inputfields">
        <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" placeholder="Email address" [ngClass]="{'invalid':resetForm.get('email')?.errors && resetForm.get('email')?.touched,'valid':this.resetForm.valid}"
         required>
         <mat-error *ngFor="let error of errorMessage?.email" >
          <mat-error *ngIf="resetForm?.get('email')?.hasError(error?.type)" class="alertMessage">
            <mat-icon class="warnIcon">warning</mat-icon>{{error.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <footer>
        <div class="invalid" *ngIf="false">
          <mat-icon>warning</mat-icon>
          <h4>Please enter the required field</h4>
        </div>
        <div class="btn">
          <button type="submit" mat-raised-button color="primary" [disabled]="resetForm.invalid">
            <ng-container *ngIf="!spinner">Reset Password</ng-container>
            <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
          </button>
        </div>
        <a routerLink="">
          <mat-icon>arrow_back</mat-icon> Go Back
        </a>
      </footer>
    </form>
  </div>
  <div *ngIf="linkSent">
    <header>
      <h1>Reset Link</h1>
      <h3>An email has been sent to your registered email ID. Please follow the instruction to reset your password </h3>
    </header>
    <footer>
      <div class="btn">
        <button routerLink="" type="button" mat-raised-button color="primary">Back To Login</button>
      </div>
    </footer>
  </div>
</section>
