@use "../../../commonFiles/scssfiles/accountModule.scss";
.invalid{
  color: red;
}
.valid{
 color: #5275f0;
}
section{
  .matchPassword{
    display: flex;
    align-items: center;
    mat-icon{
      margin-right: 10px;
    }
  }
}
