<section>
  <div>
    <header>
      <h1>Sign In to Admin Panel</h1>
      <h3>Enter the details below</h3>
    </header>
    <form [formGroup]="resetForm" class="form">
            <label [ngClass]="{'invalid':resetForm.get('password')?.errors && resetForm.get('password')?.touched,'valid':this.resetForm.valid}">Password</label>
            <mat-form-field appearance="outline">
                <input matInput  formControlName="password" placeholder="Enter Password" [type]="hide ? 'password':'text'"
                >
                <i class="material-icons" matSuffix (click)="hide = !hide">
                  {{hide?'visibility_off':'visibility'}}
                </i>
                <mat-error *ngFor="let error of errorMessage?.password" >
                  <mat-error *ngIf="resetForm?.get('password')?.hasError(error?.type)" class="alertMessage">
                    <mat-icon>warning</mat-icon>{{error.message}}
                  </mat-error>
                </mat-error>

              </mat-form-field><br>
   <label [ngClass]="{'invalid':resetForm.get('cnfPassword')?.errors && resetForm.get('cnfPassword')?.touched,'valid':this.resetForm.valid}">Confirm Your password</label>

          <mat-form-field appearance="outline">
              <input matInput  formControlName="cnfPassword" placeholder="Confirm Password" [type]="hide1 ? 'password':'text'" >
              <i class="material-icons" matSuffix (click)="hide1 = !hide1">
                {{hide1?'visibility_off':'visibility'}}
              </i>
              <mat-error *ngFor="let error of errorMessage?.cnfPassword" >
                <mat-error *ngIf="resetForm?.get('cnfPassword')?.hasError(error?.type)" class="alertMessage">
                  <mat-icon>warning</mat-icon>{{error.message}}
                </mat-error>
              </mat-error>
              <mat-error *ngIf="resetForm?.controls?.cnfPassword?.errors?.confirmedValidator">Confirm Password does not match with New Password</mat-error>

            </mat-form-field>

        <footer>
          <div class="invalid" *ngIf="false">
            <mat-icon>warning</mat-icon>
            <h4>Please enter the required field</h4>
          </div>
          <div class="btn">
            <button type="submit" mat-raised-button color="primary" [disabled]="resetForm.invalid">
              <ng-container *ngIf="!spinner">Set new password</ng-container>
              <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
            </button>
          </div>
        </footer>
    </form>
  </div>
</section>
