@use "../../../../../commonFiles/scssfiles/layoutHeader.scss" as variable;
section {
  height: calc(110vh - 100px);
  .inputFields {
    padding: variable.$padding;
    ::ng-deep {
      .mat-form-field-appearance-outline .mat-form-field-outline {
        color: variable.$color;
      }
    }
    .field {
      display: grid;
      grid-template-columns: auto auto;
      gap: 30px;
      border: 2px solid variable.$color;
      padding: variable.$padding;
      .left {
        border-right: 3px solid gainsboro;
        margin-right: 10px;
      }
      .alertMessage {
        font-size: 15px;
      }
      .mat-form-field {
        width: 600px;
      }
      label {
        color: variable.$color;
        font-weight: 500;
      }
      .field1 {
        display: flex;
        flex-direction: column;
      }
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      margin-right: -6%;
      #saveBtn {
        width: 100px;
        padding: 5px;
        color: #ffff;
        cursor: pointer;
        font-size: 20px;
        background-color: #0000ff;
        &:disabled {
          cursor: not-allowed;
          background-color: #b9c8fa;
        }
      }
    }
  }
}
@media screen and (max-width: 1750px) {
  section {
    .inputFields {
      .field {
        .mat-form-field {
          width: 500px;
        }
      }
    }
  }
}
@media screen and (max-width: 1530px) {
  section {
    .inputFields {
      .field {
        .left {
          margin-right: 10px;
        }
        .mat-form-field {
          width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 1335px) {
  section {
    .inputFields {
      .field {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        .left {
          border-right: none;
        }
        .mat-form-field {
          width: 400px;
        }
      }
      .btn {
        justify-content: flex-start;
      }
    }
  }
}
@media screen and (max-width: 510px) {
  section {
    .inputFields {
      .field {
        .mat-form-field {
          width: 250px;
        }
      }
    }
  }
}
