<section>
  <div class="toggle">
    <mat-toolbar class="mat-elevation-z8">
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <main>
    <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div class="logo ">
          <img src="../../../../../assets/user.png" class="userImg">
          <h4 class="title"> ARC </h4>
        </div>
        <div class="sideBar">
         <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'DASHBOARD' | absoluteUrl">
            <mat-icon>home</mat-icon> <span class="text1">Dashboard</span>
          </a>
        </div>
        <div class="sideBar">
          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'USER_MANAGE' | absoluteUrl">
            <mat-icon>person</mat-icon> <span class="text2"> User Management</span>
          </a>
          </div>
        <div class="sideBar">
          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'CLIENT_MANAGE' | absoluteUrl">
            <mat-icon>person</mat-icon> <span class="text2"> Client Management</span>
          </a>
          </div>
        <div class="sideBar">

          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'TRANSACTION_MANAGE' | absoluteUrl">
            <mat-icon>receipt_long</mat-icon> <span class="text">Transaction Management</span>
          </a>
          </div>
        <div class="sideBar">
          <!-- <mat-icon>redo</mat-icon> -->
          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'EARNING_MANAGE' | absoluteUrl">
            <div class="earnIcon">
            <img src="../../../assets/redo-5-xxl.png" class="imgIcon"><span class="text3">Earnings Management</span>
          </div>
          </a>
          </div>
        <div class="sideBar">

          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'NOTIFICATION_MANAGE' | absoluteUrl">
            <mat-icon>notifications</mat-icon> <span class="text">Notification Management</span>
          </a>
          </div>
        <div class="sideBar">

          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'CONTENT_MANAGE' | absoluteUrl">
            <mat-icon>chat</mat-icon> <span class="text4">Content Management</span>
          </a>
          </div>
        <div class="sideBar">

        <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'STAFF_MANAGE' | absoluteUrl">
            <mat-icon>chat</mat-icon> <span class="text2">Staff Management</span>
          </a>
          </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</section>

